.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
    top: 144px;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.step {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.step.active {
    background-color: #4CAF50; /* Màu xanh */
    color: white;
}